<header>
	<%=session['fb_error']%>
	<div class="top_social">
				<iframe src="http://www.facebook.com/plugins/like.php?hrefhttp%3A%2F%2Fapps.facebook.com%2Fnewprogrammingbooks%2F&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>	
				<a href="http://twitter.com/share" class="twitter-share-button"
				      data-url="http://apps.facebook.com/newprogrammingbooks/"
				      data-via="danest"
				      data-text="Find New Programming books weekly!"
				      data-count="horizontal">Tweet</a>
	</div>
</header>